body {
    width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
}

#hansard_body {
    width: 600px;
}

#predebate_tweets .tweet {
    border: none;
    margin: 0;
    padding: 10px 0;
}

.tweet {
    width: 280px;
    max-height: 150px;
    border-left: 1px solid #aaa;
    float: left;
    margin: 10px;
    padding: 10px;
    clear: both;
}

.tweet img {
    float: left;
    margin-right: 10px;
}

.tweet .time {
    font-size: 70%;
    color: #a0a0a0;
}
